<div class="row text-center">

  <div class="col-lg-3 col-md-6 mb-4">
    <div class="card h-100">
      <img class="card-img-top" src="../../assets/sabana1.jpeg" alt="">
      <div class="card-body">
        <h4 class="card-title">Primavera</h4>
        <p class="card-text">Juego de sabana primavera - Semi - Doble - Queen - King</p>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 mb-4">
    <div class="card h-100">
      <img class="card-img-top" src="../../assets/sabana2.jpeg" alt="">
      <div class="card-body">
        <h4 class="card-title">Descanso</h4>
        <p class="card-text">Juego de sabana descanso Sencilla - Semi - Doble - Queen - King</p>


      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 mb-4">
    <div class="card h-100">
      <img class="card-img-top" src="../../assets/sabana9.jpeg" alt="">
      <div class="card-body">
        <h4 class="card-title">Sabana blanca</h4>
        <p class="card-text">Juego de sabana blanca Sencilla - Semi - Doble - Queen - King</p>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 mb-4">
    <div class="card h-100">
      <img class="card-img-top" src="../../assets/sabana8.jpeg" alt="">
      <div class="card-body">
        <h4 class="card-title">Varios</h4>
        <p class="card-text">Juego de sabana varios Sencilla - Semi - Doble - Queen - King</p>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
</div>


<div class="row text-center">

  <div class="col-lg-3 col-md-6 mb-4">
    <div class="card h-100">
      <img class="card-img-top" src="../../assets/sabana5.jpeg" alt="">
      <div class="card-body">
        <h4 class="card-title">Cars</h4>
        <p class="card-text">Juego de sabana Cars  Sencilla</p>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 mb-4">
    <div class="card h-100">
      <img class="card-img-top" src="../../assets/sabana7.jpeg" alt="">
      <div class="card-body">
        <h4 class="card-title">Disney</h4>
        <p class="card-text">Juego de sabana Disney  Sencilla</p>


      </div>
      <div class="card-footer">
        
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 mb-4">
    <div class="card h-100">
      <img class="card-img-top" src="../../assets/sabana4.jpeg" alt="">
      <div class="card-body">
        <h4 class="card-title">Frozen</h4>
        <p class="card-text">Juego de sabana Frozen  Sencilla</p>
      </div>
      <div class="card-footer">
        
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 mb-4">
    <div class="card h-100">
      <img class="card-img-top" src="../../assets/sabana10.jpeg" alt="">
      <div class="card-body">
        <h4 class="card-title">Marvel</h4>
        <p class="card-text">Juego de sabana Marve  Sencilla</p>
      </div>
      <div class="card-footer">
       
      </div>
    </div>
  </div>
</div>