<div class="card mb-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <img src="../../assets/sabanaFront.jpg" width="304" height="400" class="card-img-top" alt="...">
      </div>
    </div>
  </div>
  <div class="card-body">
    <h3>Sueña. Duerme en casa</h3>
    <h4><span class="badge badge-secondary">Tenemos una gran variedad de sabanas, para un descanso increible</span></h4>
    <p class="card-text"></p>
    <button type="button" class="btn btn-primary btn-sm">Contactanos</button>
  </div>
</div>